---
import Layout from '../layouts/Layout.astro';
import * as home from "./home.md"
---

<Layout title="{home.frontmatter.title}">
  <h1>{home.frontmatter.title}</h1>
  <div set:html={home.compiledContent()}></div>
</Layout>
