---
const socialLinks = [
  { platform: 'github', url: 'https://github.com/agucova' },
  { platform: 'linkedin', url: 'https://www.linkedin.com/in/agucova/' },
  { platform: 'keybase', url: 'https://keybase.io/agucova' },
  { platform: 'twitter', url: 'https://twitter.com/austinc3301' }
];
---

<div id="social">
  {
    socialLinks.map(({ platform, url }) => (
      <a
        title={platform.charAt(0).toUpperCase() + platform.slice(1)}
        target="_blank"
        href={url}
        rel="noopener noreferrer"
      >
        <i class={`fab fa-${platform}`} />
      </a>
      <span>&nbsp;&nbsp;&nbsp;</span>
    ))
  }
  <a
    title="Email"
    href="#"
    class="cryptedmail"
    data-name="hi"
    data-domain="agucova"
    data-tld="dev"
    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"
    rel="noopener noreferrer"
  >
    <i class="fas fa-envelope"></i>
  </a>
</div>
